entrypoint = "server.js"
run = "PORT=5000 node server.js"
modules = ["nodejs-20"]

[env]
NODE_ENV = "production"

[packages]
nodejs-20 = { version = "latest" }

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[agent]
expertMode = true
